@charset "UTF-8";
/* CSS DOS ARQUIVOS DE LAYOUT (ASIDE, ESTRUTURA DA TAG MAIN, FOOTER) */
/* tema claro - padrão */
:root {
  --bg-main: #eaeaea;
  --bg-padrao: #fff;
  --text-primary: #000;
  --text-secondary: #727272;
  --text-especial: #128d29;
  --divisor-color: #727272;
}

/* tema escuro */
[data-theme=dark] {
  --bg-main: #222;
  --bg-padrao: #444;
  --text-primary: #fff;
  --text-secondary: #ccc;
  --text-especial: #29e04b;
  --divisor-color: #555;
}

body {
  background-color: var(--bg-main);
  margin: 0;
  padding: 0;
}

/* ========= HEADER ========= */
header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  width: calc(100% - 250px);
  box-sizing: border-box;
  height: calc(40px + 2rem);
  margin-left: 250px;
  background-color: var(--bg-padrao);
  z-index: 1;
}
header hr {
  position: absolute;
  width: 1px;
  height: 48px;
  background-color: var(--divisor-color);
  opacity: 1;
  margin: 0.75rem 0;
}
header .texto-cabecalho {
  display: flex;
  flex-direction: column;
  padding: 1rem 2rem 1rem 1rem;
}
header .texto-cabecalho h1 {
  font-size: 1.4rem;
  margin: 0;
  color: var(--text-especial);
  font-weight: 700;
}
header .texto-cabecalho p {
  font-size: 1rem;
  margin: 0;
  color: var(--text-secondary);
  font-weight: 700;
}
header nav {
  display: flex;
  padding-right: 2rem;
}
header nav a {
  display: flex;
  align-items: center;
  font-size: 1.1rem;
  font-weight: bold;
  padding: 0.5rem 1.5rem 0 1.5rem;
}
header nav a.active {
  color: var(--text-especial);
  border-bottom: 2px solid var(--text-especial);
}

/* ========== ASIDE ========== */
.aside-container {
  position: fixed;
  width: 250px;
  height: 100vh;
  background: var(--bg-padrao);
  padding: 1rem;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
}
.aside-container .logo-container {
  display: flex;
  align-items: center;
}
.aside-container .logo-container img {
  width: 40px;
  height: 40px;
  border-radius: 0.5rem;
}
.aside-container .logo-container h2 {
  font-size: 2rem;
  margin: 0 0 0 1rem;
  color: var(--text-especial);
}
.aside-container .logo-divider, .aside-container .divider {
  width: 100%;
  height: 1px;
  background-color: var(--divisor-color);
  margin: 0.5rem 0 1rem 0;
}
.aside-container .menus-container {
  height: calc(100% - 40px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}
.aside-container .menus-container .menu-container, .aside-container .menus-container .submenu-container {
  height: -moz-max-content;
  height: max-content;
  display: flex;
  flex-direction: column;
}
.aside-container .menus-container .menu-container h2, .aside-container .menus-container .submenu-container h2 {
  font-size: 1.1rem;
  margin: 0 0 1rem 0;
  color: var(--text-primary);
  opacity: 0.8;
}
.aside-container .menus-container .menu-container .menu-item, .aside-container .menus-container .menu-container .submenu-item, .aside-container .menus-container .submenu-container .menu-item, .aside-container .menus-container .submenu-container .submenu-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.6rem 0.2rem 0.6rem 0.8rem;
  border-radius: 0.5rem;
  color: var(--text-primary);
  text-decoration: none;
  margin-bottom: 0.5rem;
}
.aside-container .menus-container .menu-container .menu-item i, .aside-container .menus-container .menu-container .submenu-item i, .aside-container .menus-container .submenu-container .menu-item i, .aside-container .menus-container .submenu-container .submenu-item i {
  font-size: 1.1rem;
  font-weight: bold;
  margin-right: 0.75rem;
}
.aside-container .menus-container .menu-container .menu-item .menu-item-text, .aside-container .menus-container .menu-container .menu-item .submenu-item-text, .aside-container .menus-container .menu-container .submenu-item .menu-item-text, .aside-container .menus-container .menu-container .submenu-item .submenu-item-text, .aside-container .menus-container .submenu-container .menu-item .menu-item-text, .aside-container .menus-container .submenu-container .menu-item .submenu-item-text, .aside-container .menus-container .submenu-container .submenu-item .menu-item-text, .aside-container .menus-container .submenu-container .submenu-item .submenu-item-text {
  margin: 0;
  width: 100%;
  font-size: 1rem;
}
.aside-container .menus-container .menu-container .menu-item:hover, .aside-container .menus-container .submenu-container .menu-item:hover {
  background-color: var(--bg-padrao);
}
.aside-container .menus-container .menu-container .submenu-item, .aside-container .menus-container .submenu-container .submenu-item {
  justify-content: flex-start;
  margin: 0;
}
.aside-container .menus-container .menu-container .menu-item.active, .aside-container .menus-container .menu-container .submenu-item.active, .aside-container .menus-container .submenu-container .menu-item.active, .aside-container .menus-container .submenu-container .submenu-item.active {
  font-weight: bold;
  color: var(--text-especial);
  box-shadow: 2px 2px 4px -1px rgba(0, 0, 0, 0.1882352941);
}
.aside-container .menus-container .menu-container .menu-item.active .bi-chevron-right, .aside-container .menus-container .menu-container .submenu-item.active .bi-chevron-right, .aside-container .menus-container .submenu-container .menu-item.active .bi-chevron-right, .aside-container .menus-container .submenu-container .submenu-item.active .bi-chevron-right {
  display: none;
}
.aside-container .menus-container .menu-container .user-button, .aside-container .menus-container .submenu-container .user-button {
  display: flex;
  align-items: center;
  padding: 0.5rem 0.2rem 0.5rem 0.6rem;
  border: none;
  border-radius: 0.5rem;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.1882352941);
  background: var(--bg-padrao);
  overflow: hidden;
  margin-top: 1rem;
}
.aside-container .menus-container .menu-container .user-button .bi-person-fill, .aside-container .menus-container .submenu-container .user-button .bi-person-fill {
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.3rem;
  border-radius: 50%;
  background-color: var(--text-especial);
  color: var(--bg-padrao);
  margin-right: 0.5rem;
}
.aside-container .menus-container .menu-container .user-button .user-text-container, .aside-container .menus-container .submenu-container .user-button .user-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.aside-container .menus-container .menu-container .user-button .user-text-container .user-name, .aside-container .menus-container .submenu-container .user-button .user-text-container .user-name {
  margin: 0;
  font-size: 1.2rem;
  color: var(--text-primary);
}
.aside-container .menus-container .menu-container .user-button .user-text-container .user-email, .aside-container .menus-container .submenu-container .user-button .user-text-container .user-email {
  margin: 0;
  font-size: 0.8rem;
  color: var(--text-secondary);
}

/* ========== LAYOUT ========== */
.conteudo-central {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  /* configuração comum da main para todas as paginas */
}
.conteudo-central main {
  margin-top: 40px;
  margin-left: 250px;
  padding: 2rem;
}
.conteudo-central footer {
  padding: 1rem;
  text-align: center;
  background-color: var(--bg-padrao);
  color: var(--text-secondary);
  margin-left: 250px;
}
.conteudo-central .dashboard-main .page-title {
  font-size: 1.75rem;
  margin: 1rem 2rem;
}
.conteudo-central .dashboard-main .resumo-geral {
  position: relative;
  background-color: var(--bg-padrao);
  border-radius: 1rem;
  padding: 1rem 0;
}
.conteudo-central .dashboard-main .resumo-geral .titles-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.conteudo-central .dashboard-main .resumo-geral .titles-grid .title {
  font-size: 1.1rem;
  margin: 0 0 1rem 1rem;
}
.conteudo-central .dashboard-main .resumo-geral .resumo-geral-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.conteudo-central .dashboard-main .resumo-geral .resumo-geral-grid .resumo-mensal {
  display: flex;
  align-items: flex-end;
  justify-content: space-evenly;
  padding: 0 1rem;
}
.conteudo-central .dashboard-main .resumo-geral .resumo-geral-grid .resumo-mensal .receita-container, .conteudo-central .dashboard-main .resumo-geral .resumo-geral-grid .resumo-mensal .despesa-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.conteudo-central .dashboard-main .resumo-geral .resumo-geral-grid .resumo-mensal .receita-container .receita-title, .conteudo-central .dashboard-main .resumo-geral .resumo-geral-grid .resumo-mensal .receita-container .despesa-title, .conteudo-central .dashboard-main .resumo-geral .resumo-geral-grid .resumo-mensal .despesa-container .receita-title, .conteudo-central .dashboard-main .resumo-geral .resumo-geral-grid .resumo-mensal .despesa-container .despesa-title {
  width: -moz-max-content;
  width: max-content;
  font-size: 0.8rem;
  margin: 0;
  color: var(--text-secondary);
}
.conteudo-central .dashboard-main .resumo-geral .resumo-geral-grid .resumo-mensal .receita-container .receita-valor, .conteudo-central .dashboard-main .resumo-geral .resumo-geral-grid .resumo-mensal .receita-container .despesa-valor, .conteudo-central .dashboard-main .resumo-geral .resumo-geral-grid .resumo-mensal .despesa-container .receita-valor, .conteudo-central .dashboard-main .resumo-geral .resumo-geral-grid .resumo-mensal .despesa-container .despesa-valor {
  font-size: 1rem;
  margin: 0 0 1rem 0;
  font-weight: bold;
}
.conteudo-central .dashboard-main .resumo-geral .resumo-geral-grid .resumo-mensal .receita-container .receita-valor, .conteudo-central .dashboard-main .resumo-geral .resumo-geral-grid .resumo-mensal .despesa-container .receita-valor {
  color: green;
}
.conteudo-central .dashboard-main .resumo-geral .resumo-geral-grid .resumo-mensal .receita-container .despesa-valor, .conteudo-central .dashboard-main .resumo-geral .resumo-geral-grid .resumo-mensal .despesa-container .despesa-valor {
  color: red;
}
.conteudo-central .dashboard-main .resumo-geral .resumo-geral-grid .resumo-total {
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 0 1rem;
}
.conteudo-central .dashboard-main .resumo-geral .resumo-geral-grid .resumo-total .cofres-container, .conteudo-central .dashboard-main .resumo-geral .resumo-geral-grid .resumo-total .receita-container, .conteudo-central .dashboard-main .resumo-geral .resumo-geral-grid .resumo-total .investimentos-container {
  display: flex;
  flex-direction: column;
}
.conteudo-central .dashboard-main .resumo-geral .resumo-geral-grid .resumo-total .cofres-container .cofres-title, .conteudo-central .dashboard-main .resumo-geral .resumo-geral-grid .resumo-total .cofres-container .investimentos-title, .conteudo-central .dashboard-main .resumo-geral .resumo-geral-grid .resumo-total .cofres-container .receita-title, .conteudo-central .dashboard-main .resumo-geral .resumo-geral-grid .resumo-total .receita-container .cofres-title, .conteudo-central .dashboard-main .resumo-geral .resumo-geral-grid .resumo-total .receita-container .investimentos-title, .conteudo-central .dashboard-main .resumo-geral .resumo-geral-grid .resumo-total .receita-container .receita-title, .conteudo-central .dashboard-main .resumo-geral .resumo-geral-grid .resumo-total .investimentos-container .cofres-title, .conteudo-central .dashboard-main .resumo-geral .resumo-geral-grid .resumo-total .investimentos-container .investimentos-title, .conteudo-central .dashboard-main .resumo-geral .resumo-geral-grid .resumo-total .investimentos-container .receita-title {
  width: -moz-max-content;
  width: max-content;
  font-size: 0.8rem;
  margin: 0;
  color: var(--text-secondary);
}
.conteudo-central .dashboard-main .resumo-geral .resumo-geral-grid .resumo-total .cofres-container .cofres-valor, .conteudo-central .dashboard-main .resumo-geral .resumo-geral-grid .resumo-total .cofres-container .investimentos-valor, .conteudo-central .dashboard-main .resumo-geral .resumo-geral-grid .resumo-total .cofres-container .receita-valor, .conteudo-central .dashboard-main .resumo-geral .resumo-geral-grid .resumo-total .receita-container .cofres-valor, .conteudo-central .dashboard-main .resumo-geral .resumo-geral-grid .resumo-total .receita-container .investimentos-valor, .conteudo-central .dashboard-main .resumo-geral .resumo-geral-grid .resumo-total .receita-container .receita-valor, .conteudo-central .dashboard-main .resumo-geral .resumo-geral-grid .resumo-total .investimentos-container .cofres-valor, .conteudo-central .dashboard-main .resumo-geral .resumo-geral-grid .resumo-total .investimentos-container .investimentos-valor, .conteudo-central .dashboard-main .resumo-geral .resumo-geral-grid .resumo-total .investimentos-container .receita-valor {
  font-size: 1rem;
  margin: 0 0 1rem 0;
  font-weight: bold;
}
.conteudo-central .dashboard-main .resumo-geral .divider {
  width: 3px;
  height: calc(100% - 2rem);
  position: absolute;
  left: 50%;
  top: 1rem;
  border-radius: 1rem;
  background-color: var(--divisor-color);
}/*# sourceMappingURL=layout.css.map */